#nest5 {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin: -25px 0 0 -25px;
  border: 2px solid transparent;
  border-top-color: yellow;
  border-radius: 50%;
  -webkit-animation: spin11 2s linear infinite;
  animation: spin11 2s linear infinite;
}

#nest5:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  -webkit-animation: spin11 1s linear infinite;
  animation: spin11 1s linear infinite;
}

#nest5:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #ffa700;
  -webkit-animation: spin11 2s linear infinite;
  animation: spin11 2s linear infinite;
}

@-webkit-keyframes spin11 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin11 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}