.error__form {
  color: #bf1650;
  margin-top: 5px;
  white-space: nowrap;
}
.error__input {
  border: 1px #bf1650 solid;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
